@import url("https://fonts.googleapis.com/css?family=Fira+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Unica+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poiret+One|Pompiere&display=swap");
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");

/* icons ref: https://material.io/resources/icons/?style=baseline */
/* grid ref: http://grid.malven.co/ */
/* https://coolors.co/041725-1b374b-3d232c-c39c93-d6c9ba */
/* https://coolors.co/ffffff-74b0bc-ccc5b9-d5cedd-326273 */

:root {
  --white: #ffffff;
  --black: #0b0c10;
  --navy: #394263;
  --darkorange: #fc4a1a;
  --sunshineorange: #f78733;
  --dullpink: #c38d9e;
  --darkteal: #41b3a3;
  --lightteal: #85dcba;
  --lightgrey: rgb(217, 222, 223);
  --shellbg: white;
}

html {
  background: var(--white);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
}

* {
  font-family: "Fira Sans", sans-serif;
}

.main {
    background-color: var(--lightgrey);
    height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: 10px 47.5% 47.5% 20px;
    grid-template-rows: 140px 25px 21.5% 25px 21.5% 21.5% 10px ;
    grid-template-areas: 
    "header header header header"
    ". newsfeed top5 ."
    ". newsfeed top5 ."
    ". newsfeed added ."
    ". newsfeed added ."
    ". newsfeed added ."
    ". . . .";
    overflow: hidden;
    grid-gap: 15px;
}

.header {
    grid-area: header;
    font-size: 4.5vh;
    background-color: var(--navy);
    color: var(--white);
    text-align: center;
    padding-top: 4vh;
    font-weight: 700;
}

.dailynewsfeed {
    grid-area: newsfeed;
    max-width: 100%;
    max-height: 100%;
    background-color: var(--shellbg);
    border: solid var(--lightgrey);
} 

.dailynewsfeed-subheader{
    grid-column: 1/2;
    grid-row: 1/2; 
}

.searchbar {
    padding: 2px;
    margin: 5px 12px 0 12px;
}

.searchbar > input {
    width: 99%;
}

.dailynewsfeed-subheader, .added-subheader, .top5-subheader{
    background-color: var(--navy);
    color: var(--white);
    padding: 2px 0 2px 10px ;
    font-size: 20px;
}

.dailynewsfeed-content{
    grid-column: 1/2;
    grid-row: 2/6; 
    max-height: 70vh;
    overflow: scroll;
}

.news {
    margin: 10px;
    border: solid var(--white);
    border-radius: 10px;
    background-color: rgba(90, 209, 199, 0.2);
    padding: 10px;
}

.newsTitle{
    font-weight: 500;
    font-size: 15px;
}

#newsfeed {
    table-layout: fixed;
    width: 100%;
}

#newsfeed td:nth-child(1) {
    width: 20%;
}
#newsfeed td:nth-child(3) {
    width: 10%;
}


.addIntel, .show, .delete, .edit {
    background-color: var(--sunshineorange);
    color: var(--white);
    border: none;
    margin: 0;
    border-radius: 50%;
    width: auto;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
}


.dailynewsadded {
    grid-area: added;
    max-width: 100%;
    max-height: 100%;
    border: solid var(--lightgrey);
    background-color: var(--shellbg);
} 

#addednews {
    table-layout: fixed;
    width: 100%;
}

#addednews td:nth-child(2), #addednews td:nth-child(3),#addednews td:nth-child(4) {
    width: 35px;
}

.added-subheader {
    grid-column: 1/2;
    grid-row: 1/2; 
}

.added-content{
    grid-column: 1/2;
    grid-row: 2/4; 
    max-height: 42vh;
    padding: 5px 0 0 0;
    overflow: scroll;
}


.dailynewstop5 {
    grid-area: top5;
    max-width: 100%;
    max-height: 100%;
    background-color: var(--shellbg);
    border: solid var(--lightgrey);
} 

.top5-subheader{
    grid-column: 1/2;
    grid-row: 1/2; 
}

.top5-content{
    grid-column: 1/2;
    grid-row: 2/3; 
    max-height: 20vh;
    overflow: scroll;
}

li {
    list-style-type: none;
    height: 3vh;
    margin: 0px auto;
	padding: 5px;
}

.keyword {
    height:3vh;
	width: 48%;
	float: left;
}

.chart {
    height: 3vh;
	width: 48%;
	float: right;
}

